/* You can add global styles to this file, and also import other style files */
html, body { 
    width: 100%;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


/*CUSTOM MAPBOX*/
.mapbox-directions-origin .mapbox-form-label {
    background-color: #274ec1;
}
.mapbox-form-label {
    background: #39c42d;
}
.mapbox-directions-profile input[type="radio"]:checked + label:hover, .mapbox-directions-profile input[type="radio"]:checked + label {
    background: #8fbfca;
}